html
    head
        title Pick Username
    body
        form(method='post')
            input(name='username', placeholder='Username', type='text')
            input(type='submit', value='Submit Username')