html
    head
        title Test Javascript
        link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
    body
        center
            form(type='text', onsubmit='usernameSubmit(event)', id='credentials')
                input(type='text', id='username')
                input(type='submit', value='submitName')
        form(onsubmit='textEntered(event)', method='get', id='chatBox')
            input(type='text', id='words')
            input(type='submit')
        span(id='span') received message:
        h1(id='h1') 
        script(src='/socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/client.js')
        h1 I AM A LOSER