doctype 5
html
    head
        title Test Javascript
        link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    body
        div(class='container-fluid')
            div(class='row-fluid')
                div(class='span2 blue')
                    p content
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                div(class='span10 blueish')
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples
                    p I like apples