doctype 5
html
    head
        title Test Javascript
        link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    body
        .row-fluid.chat-container
            .clients-container.span4
                .clients
            
            .chat-interface.span8
                .chat
                .chat-input
                    form
                        input(type='text', placeholder='Enter Text Here')
                        input(type='submit', class='btn btn-success')