doctype 5
html
    head
        title Test Javascript
        link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    body
        .login-wrapper
            form
                label
                input(type='text')
                input(type='submit')
            