doctype 5
html
    head
        title Test Javascript
        link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
        link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
    body
        .login-wrapper
            center
                form(onsubmit='usernameSubmit(event)')
                    input(type='text', class='login-input', id='username', placeholder='Enter Username')
                    input(type='submit', class='login-submit btn btn-inverse')
        script(src='/socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='/js/client.js')
                