.clients-container{
    padding:1%;  
    height:100%;
}
.clients
{
    border-radius:4px;
    height:100%;
    background-color:#7ABEE6; 
}

@font-face{
		font-family: ubuntu;
		font-style: normal;
		src: url('../fonts/ubuntu/Ubuntu-B.ttf');		
}

.clients-text{
    line-height:1;
    padding: 10px 15px;
    font-weight:bold;
    font-size: 40px;
    font-family:ubuntu;
    height:100%;
    box-sizing:border-box;
    overflow:auto;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    /*word-wrap: break-word;       IE */   
    color:#b7d4e6;
}
.individual-client{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    height:45px;
}