html, body{
 height:100%;   
}
::-webkit-scrollbar {
    height: 15px;
    width: 15px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(183, 212, 230,.5);
    border: 5px solid transparent;
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    height: 5px;
    width: 5px

}

::-webkit-scrollbar-thumb: hover,::-webkit-scrollbar-thumb: active {
    background-color: rgba(0, 0, 0, .4)
}



