.page{
    height:100%;
    width:100%;
    background-color:#b7d4e6;
}
.login-wrapper{
    position: absolute;
    top:50%;
    background-color:#164c6c;
    width: 100%;
    height: 100px;
    margin-top:-75px;
    /*box-shadow:10px 10px 5px #888888;*/
}
.login-input{
    margin-left:20px;
    margin-top:30px;
}
.login-submit{
    margin-left:40px;
    margin-top:20px;
}