.logo{
    /*top:50%;
    margin-top:-20px;
    */
    font-family:'Mrs Sheppards', cursive;
    line-height:normal;
    color: white;
    opacity:.5;
    font-size:190px;
    position:absolute;
    top:6%;
    left:50%;
    padding:2%;
    margin-left:-290px;
}