.logo{
    /*top:50%;
    margin-top:-20px;
    */
    font-weight: bold;
    color: #164c6c;
}
.logo-container{
    margin-top:2%;
    background-color:red;
    border-radius:4px;
    
    font-weight: bold;
    font-size:40px;
    color: #164c6c;
    text-align:center;

    height:20%;
    
}