.blue{
    background-color:#009999;   
    border-radius:4px;
}
.blueish{
    background-color:#33cccc;
    border-radius:4px;
}
.log{
    position: fixed;
    text-align: center;
}
.login-button{
    border:2px;
    top:10px;
    bottom: 10px;
    left:40%;
}
.login-input{
    border:2px;
    top:10px;
    bottom: 10px;
    left:70%;
}
.div-loginback{
    max-width: 98%;
        background-color:#33cccc;
    border-radius:4px;
}