html, body{
 height:100%;   
}
.login-wrapper{
    position: absolute;
    top:50%;
    background-color:red;
    width: 100%;
    height: 200x;
    margin-top:-100px;
}
.login-input{
    margin-left:20px;
    margin-top:30px;
}
.login-submit{
    margin-left:40px;
    margin-top:20px;
}
.chat-container{
    height:100%;
}
.clients-container{
    padding:1%;  
    height:100%;
}
.clients
{
    border-radius:4px;
    height:100%;
    background-color:red; 
}
.chat{
    border-radius:4px;
    height:93%;
    background-color:blue;
    margin-bottom: 1%;
}
.chat-input{
    background-color:green;
    height:6%;
    border-radius:4px;
}
.chat-interface{
    padding: 1%;
    height: 100%;
}




